<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="" srcset=""
    height="340px"

    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular CLI</a></h1>
  </div>
  <div class="big-card__description">

    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloremque, maxime modi quae veniam voluptatibus enim quidem laudantium tenetur magnam natus ex porro ipsum deserunt fuga accusantium consequuntur, sunt atque.
      </a>
    </p>
  </div>
</div>






