

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
   photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
   cardTitle="Roger Developer!"
   cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus doloremque, maxime modi quae veniam voluptatibus enim quidem laudantium tenetur magnam natus ex porro ipsum deserunt fuga accusantium consequuntur, sunt atque."
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    >
    </app-small-card>
    <app-small-card
      cardTitle="Lorem ipsum dolor sit amet"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    >
    </app-small-card>


  </div>
</div>
